span.icon {
    display: flex;
    justify-content: flex-end;
    grid-area: i;
    margin-right: 0.4em;
}
img {
    border: 4px double grey;
    width: 70px;
    grid-area: img;
    z-index: 0;
    
}
span.id {
    grid-area: id;
}
span.name {
    margin-right: 0.2em;
    grid-area: name;
}
span.position {
    box-shadow: inset 1px 1px 5px 0px rgb(232 225 225), inset -1px -1px 2px 0px #868282;
    background: rgb(204, 198, 198);
    margin-right: 0.2em;
    grid-area: position;
}
#typeNameContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 2em 0em 1em 0em;
}

span.typeName.selected{
    border-bottom: 1px solid black;
}
/* #typeContainer > span:nth-child(0){
    grid-area: typeName1;
}
#typeContainer > span:nth-child(1){
    grid-area: typeName2;
}
.typeLoop{
    grid-area: type;
} */
.cardContainer{
    display: grid;
    position: relative;
    margin-top: 3rem;
    height: 31rem;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 3fr;
    border: 0.4rem solid rgb(228, 206, 10);
    border-radius: 0.5rem;
    background: white;
    overflow: hidden;

}
.cardContainer.one{
    position: fixed;
}

.card{
    display: grid;
    padding: 0.2em;
    max-height: 100%;
    background: rgba(255, 255, 255, 0);    
    z-index: 3;
}

.background{
    position: absolute;
    width: 75em;
    height: 41em;
    left: -28.5em;
    border: none;
    opacity: 30%;
    z-index: 0;
    
}
.fire .background {
    width: 88em ;
    left:0em;
    
}
.grass .background {
    
    width: 88em;
    height: 41em;
    left: -53em;
}
.water .background {
    
    width: 100em;
    height: 41em;
    left: -80em;
}
.ice .background {
    
    width: 75em;
    height: 41em;
    left: -19em;
}

.cardContainer.mythical{
    background: #c5b8da;
}
.cardContainer.legendary{
    background: #c5c19f;
}
div.header{
    display: grid;
    height: min-content;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    'img i'
    'img id'
    'img name'
    'img position'
    'img .'
    ;

}
.position{
    display: flex;
    justify-content: center;
    border-radius: 0.1rem;
}



@media screen and (min-width: 375px ) {
    span.icon {
        margin-right: 0.3em;
    }
    img {
        width: 80px;        
    }
}
@media screen and (min-width: 425px ) {
    span.icon {
        margin-right: 0.3em;
    }
    img {
        width: 90px;        
    }
}
@media screen and (min-width: 768px ) {
    span.icon {
        margin-right: 0.3em;
    }
    img {
        width: 110px;        
    }
    .card{
        padding: 0.6em;
        
    }
    
}
@media screen and (min-width: 1024px ) {
    span.icon {
        margin-right: 0.3em;
    }
    img {
        width: 120px;        
    }
    div.header{
        gap: 0.6em 0.3em;
    }
}
