.svgMulti1{
    position: absolute;
    enable-background:new 0 0 1920 1080;
    width: 800em;
    left: -340em;
    height: 500em;
    top: -230.5em;
}
.st0{fill:#64B3DE;}
.st1{fill:#F9BD2A;}
.st2{fill:#F9BB2C;}
.st3{fill:#5CA2CF;}
.st4{fill:#67A9D8;}
.st5{fill:#68AEDC;}
.st6{fill:#F5C436;}
.st7{fill:#5CA5D1;}
.st8{fill:#6EAD19;}
.st9{fill:#35A157;}
.st10{fill:#F39632;}
.st11{fill:#F19833;}
.st12{fill:#67A611;}
.st13{fill:#33A057;}
.st14{fill:#F0A946;}
.st15{fill:#F69E39;}
.st16{fill:#EF8525;}
.st17{fill:#ED8D2A;}
.st18{fill:#EFB451;}
.st19{fill:#EF9F39;}
.st20{fill:#EE8928;}
.st21{fill:#69A813;}
.st22{fill:#EAAA49;}
.st23{fill:#EB8022;}
.st24{fill:#C4D5DE;}
.st25{fill:#D2D8E1;}
.st26{fill:#5FBBDE;}
.st27{fill:#42B060;}
.st28{fill:#5AAFDD;}
.st29{fill:#569DD8;}
.st30{fill:#48C37B;}
.st31{fill:#3CB963;}
.st32{fill:#46BC71;}
.st33{fill:#3D8BBF;}
.st34{fill:#3C8FBB;}
.st35{fill:#9AD6E4;}
.st36{fill:#3A90B8;}
.st37{fill:#3685B9;}
.st38{fill:#8FE1FB;}
.st39{fill:#4E92B9;}
.st40{fill:#F8BF3C;}
.st41{fill:#F8C039;}
.st42{fill:#73AF14;}
.st43{fill:#4CAD60;}
.st44{fill:#3FA556;}
.st45{fill:#60A4CD;}
.st46{fill:#85C01C;}
.st47{fill:#7EB719;}
.st48{fill:#F8D245;}
.st49{fill:#F9C949;}
.st50{fill:#FCD252;}
.st51{fill:#95CA23;}
.st52{fill:#3FA353;}
.st53{fill:#46AB55;}
.st54{fill:#EEA039;}
.st55{fill:#7BB619;}
.st56{fill:#ECAD4F;}
.st57{fill:#B9630F;}
.st58{fill:#F8A424;}
.st59{fill:#EBB65F;}
.st60{fill:#F8C769;}
.st61{fill:#DE8C27;}
.st62{fill:#F0A944;}
.st63{fill:#F7BC5A;}
.st64{fill:#8A888B;}
.st65{fill:#62B6EB;}
.st66{fill:#3F96CC;}
.st67{fill:#CCF9FC;}
.st68{fill:#42BE6D;}
.st69{fill:#48B665;}
.st70{fill:#167F47;}
.st71{fill:#16A460;}
.st72{fill:#1C8F5A;}
.st73{fill:#027948;}
.st74{fill:#41B967;}
.st75{fill:#39C17B;}
.st76{fill:#F7C744;}
.st77{fill:#F0B955;}
.st78{fill:#FCD84E;}
.st79{fill:#F6E06F;}
.st80{fill:#D6AC1C;}
.st81{fill:#F2C643;}
.st82{fill:#81B812;}
.st83{fill:#C48F0B;}
.st84{fill:#87C11D;}
.st85{fill:#37C17B;}
.st86{fill:#50B573;}
.st87{fill:#F7D54D;}
.st88{fill:#EFC33F;}
.st89{fill:#ECB45C;}
.st90{fill:#D1741E;}
.st91{fill:#F79938;}
.st92{fill:#D67C19;}
.st93{fill:#FA9534;}
.st94{fill:#FAC769;}
.st95{fill:#E58617;}
.st96{fill:#2EA244;}
.st97{fill:#46CC81;}
.st98{fill:#088547;}
.st99{fill:#066E3D;}
.st100{fill:#40D68F;}
.st101{fill:#2EAC76;}
.st102{fill:#58E8AB;}
.st103{fill:#4FD184;}
.st104{fill:#1E9A68;}
.st105{fill:#79ECB4;}
.st106{fill:#E0BD2F;}
.st107{fill:#D1A821;}
.st108{fill:#E5A43D;}
.st109{fill:#FACE37;}
.st110{fill:#90C11C;}
.st111{fill:#A0DC2F;}
.st112{fill:#67B40F;}
.st113{fill:#AEE13D;}
.st114{fill:#5FA308;}
.st115{fill:#AFED48;}
.st116{fill:#5C9E03;}
.st117{fill:#A1DB3B;}
.st118{fill:#AFEC3C;}
.st119{fill:#438702;}
.st120{fill:#488E03;}
.st121{fill:#A2DC35;}
.st122{fill:#5D9F04;}
.st123{fill:#569D0A;}
.st124{fill:#478D06;}
.st125{fill:#3F8502;}
.st126{fill:#75B007;}
.st127{fill:#C2F75D;}
.st128{fill:#DF8020;}
.st129{fill:#3AB759;}
.st130{fill:#30AE61;}
.st131{fill:#37B362;}
.st132{fill:#2FAF65;}
.st133{fill:#36C876;}
.st134{fill:#56D493;}
.st135{fill:#62E4AD;}
.st136{fill:#4AC97A;}
.st137{fill:#40BF6B;}
.st138{fill:#488C07;}
.st139{fill:#7CBF05;}
.st140{fill:#7ECB32;}
.st141{fill:#93D346;}
.st142{fill:#9CD10B;}
.st143{fill:#8FDA23;}
.st144{fill:#71BE11;}
.st145{fill:#AAEF28;}
.st146{fill:#82CB2D;}
.st147{fill:#AAEC3A;}
.st148{fill:#88C904;}
.st149{fill:#43BE6F;}
.st150{fill:#81D825;}