.typeOfPokemon{
    display: grid;
}
.typeOfPokemon  > span {
    margin-bottom: 0.1em;
    padding-left: 0.3em;
}
.type{
    display: grid;
    gap: 0.3rem;
}
.typeOfPokemon:nth-child(3){
    margin-top: 0.2em;
}
@media screen and (min-width:768px) {
    .typeOfPokemon{
        gap: 0.3rem;
    }
    .typeOfPokemon  > span {
        margin-top: 0.3em;
        padding-left: 0.3em;
    }
    .type{
        gap: 0.3rem;
    }
    .typeOfPokemon:nth-child(3){
        margin-top: 1em;
    }
    
}